<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>

    {% load static %}
    <link rel="stylesheet" href="{% static 'css/articles.css'%}">
    <link rel="stylesheet" href="{% static 'css/foundation.css'%}">
    <!-- This is how you would link your custom stylesheet -->
    <link rel="stylesheet" href="{% static 'css/app.css'%}">
    <script src="{% static 'js/vendor/foundation.js'%}"></script>
    <title>Articles</title>
</head>
<body>
<div class="callout large">
    <div class="row column text-center">
        <h1>Articles</h1>
    </div>
</div>
<table class="responsive-card-table unstriped">
    <thead>
    <tr>
        <th>File Name</th>
        <th>Rating</th>
    </tr>
    </thead>
    <tbody>
    {% for name in articles %}
    <tr>
        <td data-label="{{ name }}">
            <a href="articleCard/{{name}}"> {{name}}</a>

        </td>
    </tr>
    {% endfor %}
    </tbody>
</table>


</body>

<script>
      $('[data-rating] .star').on('click', function() {
          var selectedCssClass = 'selected';
          var $this = $(this);
          $this.siblings('.' + selectedCssClass).removeClass(selectedCssClass);
          $this
            .addClass(selectedCssClass)
            .parent().addClass('is-voted');
      });
</script>
</html>
